
<h2>Maudhui</h2>
<div>
    <% if(currentUser.type !== 'contentManager') {%>
        <a href="/user-management" class="special"><h6><%= __('Ongeza Mtumiaji Mpya')%></h6></a>
      <% } %> 
</div>
<a href="/encyclopedia"><h6><%= __('Maktaba')%></h6></a>
<a href="/quiz-management"><h6><%= __('Chemsha bongo')%></h6></a>    
<a href="/avatar-message-management"><h6><%= __('Dokezo za Hawa')%></h6></a>    
<a href="/help-center-management"><h6><%= __('Vituo vya msaada')%></h6></a>
<a href="/didyouknow-management"><h6><%= __('Je wajua?')%></h6></a>
<a href="/survey-management"><h6><%= __('Utafiti')%></h6></a>
<br>
<h2>Mpangilio</h2>
<a href="/notifications-management"><h6><%= __('Tuma taarifa')%></h6></a>
<a href="/suggestions-management" class="special"><h6><%= __('Meseji za Mtumiaji')%></h6></a>
<br>
<h2>Kuhusu</h2>
<a href="/about-management"><h6><%= __('Kuhusu Oky')%></h6></a>
<a href="/privacy-policy-management"><h6><%= __('Sera ya Faragha')%></h6></a>
<a href="/terms-and-conditions-management"><h6><%= __('Vigezo na Masharti')%></h6></a>
<a href="/analytics-management"><h6><%= __('Uchanganuzi wa Mtumiaji')%></h6></a>